{% extends "./layout/agent.html" %}

{% block pageTitle %}
  Addresses – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<!-- this isn't the best use of this element - maybe should be a list? or one element -->
<style>
.govuk-summary-list__value { display: none; }
</style>
  <h1 class="govuk-heading-l">Address</h1>
        {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "
              <p class='govuk-body govuk-!-margin-bottom-0'>10 Downing Street</p>
              <p class='govuk-body govuk-!-margin-bottom-0'>London</p>
              <p class='govuk-body govuk-!-margin-bottom-0'>SW1A 2AA</p>
              <p class='govuk-body'>England</p>
              
              <p class='govuk-caption-m'>Added 3rd of Febuary</p>"
            },
            value: {
              text: data[""]
            },
            actions: {
              items: [
                {
                  href: "/dwp-find-an-address-plugin/start/?find_an_address_exit_url=/v2/april/address",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Address history</p>

        {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "
              <p class='govuk-body govuk-!-margin-bottom-0'>9 Downing Street</p>
              <p class='govuk-body govuk-!-margin-bottom-0'>London</p>
              <p class='govuk-body govuk-!-margin-bottom-0'>SW1A 2AA</p>
              <p class='govuk-body'>England</p>
              
              <p class='govuk-caption-m'>2nd Janauary 2022 - 3rd February 2024</p>"
            }
          },
          {
            key: {
              html: "
              <p class='govuk-body govuk-!-margin-bottom-0'>8 Downing Street</p>
              <p class='govuk-body govuk-!-margin-bottom-0'>London</p>
              <p class='govuk-body govuk-!-margin-bottom-0'>SW1A 2AA</p>
              <p class='govuk-body'>England</p>
              
              <p class='govuk-caption-m'>23rd November 2020 - 2nd Janauary 2022</p>
              "
            }
          },
          {
            key: {
              html: "
              <p class='govuk-body govuk-!-margin-bottom-0'>9 Downing Street</p>
              <p class='govuk-body govuk-!-margin-bottom-0'>London</p>
              <p class='govuk-body govuk-!-margin-bottom-0'>SW1A 2AA</p>
              <p class='govuk-body'>England</p>

              <p class='govuk-caption-m'>5th September 2020 - 23rd November 2020</p>
              
              "
            }
          }
        ]
      }) }}


{% endblock %}
