{% extends "layouts/pips.html" %}

{% block pageTitle %}
 Have you confirmed and updated the address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/V2/agent-checks/pre-checks-ra-issue.html"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-m">Jeff Bridges</h1>
      <p class="govuk-body">NA 11 22 33 C</p>

      <form class="form" action="/path/of/next/page" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      text: "Have you confirmed and updated the address?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "not-able-to-do",
      text: "No, I am not able to do this"
    },
    {
      value: "come-back-to-later",
      text: "I need to come back to this later"
    },
    {
      divider: "or"
    },
    {
      value: "address-already-matched",
      text: "I made a mistake, the address already matched"
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
