{% extends "layouts/pips.html" %}

{% block pageTitle %}
  Prepare an application for an assessment provider
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-m">Jeff Bridges</h1>
 <p class="govuk-body">NA 11 22 33 C</p>


      <h1 class="govuk-heading-xl">Prepare an application for an assessment provider</h1>
            <h1 class="govuk-heading-m">Review supplied information</h1>
<p class="govuk-body">
  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Registration (PIP1) (opens in new tab)</a>
</p>
<p class="govuk-body">
  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Supporting documents (opens in new tab)</a>
</p>

      <h2 class="govuk-heading-m">Check application</h2>

      {% set taskDone = {
        text: "Done",
        classes: "govuk-tag govuk-tag--green"
      } %}

      {% set toDo = {
        tag: {
          text: "To do",
          classes: "govuk-tag govuk-tag--grey"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}
      
      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "National Insurance number"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Name"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Residential address"
            },
            href: "/V2/agent-checks/residential-address.html",
            status: toDo
          },
          {
            title: {
              text: "Date of birth"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Nationality"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Residency and presence"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Immigration status"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Special Rules End of Life (SREL)"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Representitive or appointee"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Withdrawn"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Age criteria"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Alternative format"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Fraud"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Keep customer interactions safe (KCIS)"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Working abroad"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Foreign benefits"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Disability Living Allowance (DLA)"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Child Disability Payment or Adult Disability Payment"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Armed Forces Independence Payment (AFIP)"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "War Pensioners' Mobility Supplement (WPMS)"
            },
            href: "#",
            status: toDo
          },
          {
            title: {
              text: "Constant Attendance Allowance"
            },
            href: "#",
            status: toDo
          }
        ]
      }) }}

      <div class="govuk-!-margin-top-5">
        <p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">I need to come back to this application later</a>
</p>
      </div>

    </div>
  </div>
{% endblock %}
