{% extends "layouts/main.html" %}

{% block pageTitle %}
  Prepare an application for an assessment provider
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-m">Jeff Bridges</h1>
 <p class="govuk-body">NA 11 22 33 C</p>


      <h1 class="govuk-heading-xl">Prepare an application for an assessment provider</h1>
            <h1 class="govuk-heading-m">Review supplied information</h1>
<p class="govuk-body">
  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Registration (PIP1) (opens in new tab)</a>
</p>
<p class="govuk-body">
  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Supporting documents (opens in new tab)</a>
</p>

      <h2 class="govuk-heading-m">Check application</h2>

      {% set completedStatus = {
        text: "Completed"
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Incomplete",
          classes: "govuk-tag--blue"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}
      
      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "National Insurance number"
            },
            href: "#",
            status: completedStatus
          },
          {
            title: {
              text: "Name"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Residential address"
            },
            href: "#",
            status: completedStatus
          },
          {
            title: {
              text: "Date of birth"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Nationality"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Residency and presence"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Immigration status"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Special Rules End of Life (SREL)"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Representitive or appointee"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Withdrawn"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Age criteria"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Alternative format"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Fraud"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Keep customer interactions safe (KCIS)"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Working abroad"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Foreign benefits"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Disability Living Allowance (DLA)"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Child Disability Payment or Adult Disability Payment"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Armed Forces Independence Payment (AFIP)"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "War Pensioners' Mobility Supplement (WPMS)"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Constant Attendance Allowance"
            },
            href: "#",
            status: incompleteStatus
          }
        ]
      }) }}

      <div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Apply", href: "#" }) }}
      </div>

    </div>
  </div>
{% endblock %}
