{% extends "layouts/pips.html" %}

{% block pageTitle %}
  Prepare an application for an assessment provider
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-m">Jeff Bridges</h1>
 <p class="govuk-body">NA 11 22 33 C</p>


      <h1 class="govuk-heading-xl">Prepare an application for a decision</h1>
            <h1 class="govuk-heading-m">Review supplied information</h1>
<p class="govuk-body">
  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Registration (PIP1) (opens in new tab)</a>
</p>
<p class="govuk-body">
  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Supporting documents (opens in new tab)</a>
</p>
<p class="govuk-body">
  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Health assessment report (opens in new tab)</a>
</p>

      <h2 class="govuk-heading-m">Check application</h2>

            
      {% set taskDone = {
        tag: {
          text: "Done",
          classes: "govuk-tag govuk-tag--green"
        }
      } %}


      {% set Paused = {
        tag: {
          text: "Paused",
          classes: "govuk-tag govuk-tag--yellow"
        }
      } %}

      {% set toDo = {
        tag: {
          text: "To do",
          classes: "govuk-tag govuk-tag--grey"
        }
      } %}

      {% set issueStatus = {
        tag: {
          text: "Issue",
          classes: "govuk-tag--red"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}
      
      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "National Insurance number"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Name"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Residential address"
            },
            href: "/V2/agent-checks/confirm-update-address.html",
            status: issueStatus
          },
          {
            title: {
              text: "Date of birth"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Nationality"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Residency and presence"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Immigration status"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Special Rules End of Life (SREL)"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Representitive or appointee"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Withdrawn"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Age criteria"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Alternative format"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Fraud"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Keep customer interactions safe (KCIS)"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Working abroad"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Foreign benefits"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Disability Living Allowance (DLA)"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Child Disability Payment or Adult Disability Payment"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Armed Forces Independence Payment (AFIP)"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "War Pensioners' Mobility Supplement (WPMS)"
            },
            href: "#",
            status: taskDone
          },
          {
            title: {
              text: "Constant Attendance Allowance"
            },
            href: "#",
            status: taskDone
          }
        ]
      }) }}

        <h2 class="govuk-heading-l">
          There are issues with this application
        </h2>
        <p class="govuk-body">
          You can move this application to be processed in PIPCS or send it to an assessment provider.
        </p>
        <form action="/form-handler" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                What do you want to do now?
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds" name="interviewNeeds" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds">
                    Send application to assessment provider
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds" name="interviewNeeds" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds">
                    Move application to PIPCS
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds-2" name="interviewNeeds" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds-2">
                    Disallow application
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

    </div>

    </div>
  </div>
{% endblock %}
